html {
    color: #D9D9D9;
}
body {
    padding: 0 2.5vw;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    font-size: 1.5rem;
    cursor: pointer;
}
header .logo {
    display: flex;
    align-items: center;
    flex: 0.55;
    cursor: pointer;
}
header {
    display: flex;
    flex-direction: row;
}

#social-links {
    /*margin-left: 1em;*/
}

#About h2 {
    color: #CEE000;
}


#flex-panes{
    flex-direction: row;
    display: flex;
}

.pane{
    margin: 1em;
}

.card {
    /* other
  styles */
    opacity: 0;
    pointer-events: none;
    display: none;
    width: 100%;
}

.card.view { /* when the card contains .view */
    opacity: 1;
    pointer-events: all;
    display: block;
}

footer {
    display: flex;
    flex-direction: row;
    color: black;
    border-top-color: black;
    border-top-width: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10vh;
    padding-top: 10vh;
}
.pane ul {
    list-style: none;
    font-size: 0.7rem;
}
footer li {
    list-style-type: none;
}
.partner {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 7vh 0;
    opacity: 0.5;
}
/* Responsive */


@media (max-width: 767px) {
    body {
        padding: 0 0;
        margin: 0 0;
    }

    header {
        padding: 0 2vw;
    }

    footer {
        padding: 0 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}
