/* [ON BIG SCREEN] */
/* Wrapper */
#menu {
    display: flex;
    flex-direction: row;
}
#menu-navbar {
    width: 100%;

    /* Optional */
    position: sticky;
    top: 0;
}

/* Hide Hamburger */
#menu-navbar label, #hamburger { display: none; }

/* Horizontal Menu Items */
#menu-items {
    display: flex;
    background-color: #333333;
}
#menu-items a {
    width: 20%; /* 100% / 5 tabs = 20% */
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}
#menu-items a:hover {
    background: #401408;
}

/* [ON SMALL SCREENS] */

    /* Show Hamburger Icon */
#menu-navbar label {
    display: inline-block;
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
}

    /* Break down menu items into vertical */
#menu-items a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
}

    /* Toggle Show/Hide Menu */
#menu-items { display: none; }
#menu-navbar input:checked ~ #menu-items { display: block; }

.logo{
    width: 40px;
    height: 40px;
}

.social{
    width: 16px;
    height: 18px;
    margin-right: 15px;
}

address {
    font-style: normal;
    line-height: 1.42857143;
}